# файл среды
*.env
# файл настройки обновлений гита
*.gitignore
# файлы sql
*.sql
*.bak
*.mwb
# папка кеша python
/__pycache__
# папка с фото для работы бота
/user_help_photos
# папка для заметок
/txts