# файл среды
*.env
# файл настройки обновлений гита
*.gitignore
# файлы sql
*.sql
*.bak
*.mwb
# папка кеша python
/__pycache__
# папка с фото для работы бота
/user_help_photos
# папка для заметок
/txts
get_all_servers.py
get_all_servers_gpt.py
clean_json.py
/log
/jsons/all_servers.json
/jsons/all_servers_fixed.json
/jsons/servers_id_map.json
/venv